body {
  background-color: #FEF0C9;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  padding:0;
  margin:0;
  top:0;
  left:0;
}

#title{
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
#button{
  display: inline-block;
  z-index: 5;
}

.button{
  width: 100px;
  height: 50px;
  background-color: lightBlue;
  border-radius: 20px;
  font-size: 30px;
  z-index: 5;

}

.button:hover {
  background-color: lightGreen;
  transform: translate(2.8px,-2.8px);
  border-radius:80px;
}
.button:active{
  background-color:blue;
}
#stack, #container, #playerCardsContainer, body{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  left: 10%;
  width: 80%;
}
#container {
  position: fixed;
  margin:0;
  top:20%;
  left:5%;
  width: 90%;
  z-index: 1;

}
#topContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  height: 85%;
}
#stack{
  padding-top: 3.5%;
}

#right, #left {
  margin-bottom: 15%;
}



#playerCardsContainer{
  justify-content: space-between;
  z-index: 1;
}

.card {
  height: 120px;
  width: 70px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: red;
}
.deck{
  background-color: lightBlue;
}
#one{
  position: absolute;
  left: 48%;
  transform: rotate(20deg);
}
#two{
  position: absolute;
  left: 48%;
  transform: rotate(60deg);
}
#three{
  position: absolute;
  left: 48%;
  transform: rotate(120deg);
}
